<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>stbt(1): A video-capture record/playback testing system -- man page</title>
  <link href="stb-tester.css" media="all" rel="stylesheet" type="text/css" />

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-34036034-1']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>

</head>

<body id="stbt">

<!-- stbt(1) man page -->

<div id="header">
%(body_pre_docinfo)s
</div>

<div id="content">

%(docinfo)s
%(body)s

</div>

</body>
</html>
